#
# API Keys
#
OPENAI_API_KEY=your_openai_api_key
ANTHROPIC_API_KEY=your_anthropic_api_key
GOOGLE_GENERATIVE_AI_API_KEY=your_google_generative_ai_api_key
MISTRAL_API_KEY=your_mistral_api_key
FIREWORKS_API_KEY=your_fireworks_api_key

NEXT_PUBLIC_STRIPE_PRODUCT_NAME=your_stripe_product_name
NEXT_PUBLIC_STRIPE_KEY=your_stripe_key
STRIPE_SECRET_KEY=your_stripe_secret_key
# 
# Firebase Client Config
# 
NEXT_PUBLIC_FIREBASE_APIKEY=your_firebase_apikey
NEXT_PUBLIC_FIREBASE_AUTHDOMAIN=your_firebase_authdomain
NEXT_PUBLIC_FIREBASE_PROJECTID=your_firebase_projectid
NEXT_PUBLIC_FIREBASE_STORAGEBUCKET=your_firebase_storagebucket
NEXT_PUBLIC_FIREBASE_MESSAGINGSENDERID=your_firebase_messagingsenderid
NEXT_PUBLIC_FIREBASE_APPID=your_firebase_appid
NEXT_PUBLIC_FIREBASE_MEASUREMENTID=your_firebase_measurementid

# 
# Firebase Server Config
# 
FIREBASE_TYPE=service_account
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_PRIVATE_KEY_ID=your_firebase_private_key_id
FIREBASE_PRIVATE_KEY=your_firebase_private_key
FIREBASE_CLIENT_EMAIL=your_firebase_client_email
FIREBASE_CLIENT_ID=your_firebase_client_id
FIREBASE_AUTH_URI=your_firebase_auth_uri
FIREBASE_TOKEN_URI=your_firebase_token_uri
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=your_firebase_auth_provider_cert_url
FIREBASE_CLIENT_CERTS_URL=your_firebase_client_certs_url
FIREBASE_UNIVERSE_DOMAIN=your_firebase_universe_domain
